
<!DOCTYPE html>
<head>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
	
	

	<canvas id="myCanvas" ></canvas>

	<div style="margin: 20px; text-align: center;">
        <form id="myForm" action="/" method="POST">
            <label for="elementChoice">Fractals :</label>
            <select id="elementChoice"  name="fractalType" style="margin-right: 10px;">
                <option value="custom1" name="custom1">Custom 1</option>
                <option value="custom2" name="custom2">Custom 2</option>
                <option value="levyCurve" name="levyCurve">Levy Curve</option>
                <option value="dragonCurve" name="dragonCurve">Dragon Curve</option>
            </select>

            <input type="text" name="numberOfPoints" placeholder="Number of points" style="margin-right: 10px;">

			<label for="renderType">Render Type:</label>
			<select id="renderType" name="renderType" style="margin-right: 10px;">
                <option value="animated" name="animated">Animated</option>
				<option value="instant" name="instant">Instant</option>
			</select>

            <button type="submit" style="background-color: #4CAF50; color: white; border: none; padding: 10px 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 5px;">Submit</button>
        </form>
    </div>
	
	<script>


	var x = [{{range $index, $value := .Fract.X}}{{if $index}}, {{end}}{{$value}}{{end}}];
	var y = [{{range $index, $value := .Fract.Y}}{{if $index}}, {{end}}{{$value}}{{end}}];





    var fractType = "{{.RenderType}}"

	
	
    var canvas = document.getElementById("myCanvas");

    canvas.height = window.innerHeight * 0.8;
    canvas.width = window.innerWidth * 0.9;



    canvas.style = "position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; border:2px solid black";

    var ctx = canvas.getContext("2d");

    ctx.fillStyle = "#000000"; // Set point color


    var distance = 200

	var wid = canvas.width/2
	var hei = canvas.height/2

    var size = 0.8


	if(fractType == "dragonCurve"){
		distance = 700
		wid -= canvas.width/15
		hei -= canvas.height/4.3
		
	}else if(fractType == "levyCurve"){
		distance = 500
		wid -= canvas.width/8.4
		hei -= canvas.height/4.3
	}else if(fractType == "custom1"){
		distance = 250
		hei -= canvas.height/16
	}else if(fractType == "custom2"){
		distance = 200
		wid -= canvas.height/14
	} 




    const drawNextCircle = (i) => {
        if (i < x.length) {
            ctx.beginPath();
            ctx.arc(x[i] * distance + wid, y[i] * distance + hei, size, 0, 2 * Math.PI);
            ctx.fill();
            requestAnimationFrame(() => drawNextCircle(i + 1));
        }
    };


    drawNextCircle(0);

	</script>
</body>